<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug_mode</key>
	<string>0</string>
	<key>FE_DES_KEY</key>
	<string>4L7/WVvIuc+htjJX9gIguJkcpBI4M/F9wKjLTxlem7E/PQ9ioMmLuRvxx1yeD4bk</string>
	<key>FE_DES_NEWKEY</key>
	<string>zIpufvF0BUcTiSVLCHaGiUb2vJiCNr33vWW+bJ12X5A=</string>
	<key>FE_MD5_KEY</key>
	<string>UQXaVIAkOB+bVh51JgOW1D6jjpWbSzhgUdgh49sizrRIBEibFskgGVfJVFoAkt2x</string>
	<key>definePlistNumber</key>
	<integer>3</integer>
	<key>yufabaseUrl</key>
	<dict>
		<key>VSP_BASE_SERVER_URL</key>
		<string>http://www.test-xiaoluex.com</string>
	</dict>
	<key>baseUrl</key>
	<dict>
		<key>VSP_BASE_SERVER_URL</key>
		<string>http://www.xiaoluex.com</string>
	</dict>
</dict>
</plist>
